@font-face {
	font-family "AgencyFB";
	src url(/font/AgencyFB-Bold.otf);
	font-style normal;
}

#app{
  font-family "AgencyFB";
  letter-spacing 0.1rem;
}

.home-blog .hero *{
  color #fff
}

.footer-wrapper > span:nth-of-type(2){
  margin-left 0 !important
}

.footer-wrapper > span:not(:nth-of-type(2)){
  display none !important
}